<div class="top-wrapper">
  <p><h1><center>乃木坂46とは</center><h1>
  <h4><center>AKB48公式ライバルとして結成したアイドルグループです。
  <br>グループ名の「乃木坂」は、最終オーディション会場の「SME乃木坂ビル」に由来し
  <br>「46」は、『AKB48より人数が少なくても負けないという意気込み（秋元康氏）』からです。</center></h4></p>
  <p><h1><center>乃木坂46を知るには</span></center><h1></p>
    <h4><center>まずは以下のサイトを調べてみてください。<p><a href= "https://www.nogizaka46.com/">乃木坂46の公式サイト</a></p>
    <p><a href= "https://twitter.com/nogizaka46">乃木坂46の公式Twitter</a></p>
    <p><a href= "https://www.youtube.com/c/nogizakahaishinchu/featured?mute=1">(公式Youtubeチャンネル)乃木坂配信中(音漏れ注意)</a></p>
    <p><a href= "https://www.youtube.com/channel/UCUzpZpX2wRYOk3J8QTFGxDg">乃木坂46 OFFICIAL YouTube CHANNEL(音漏れ注意)</a></p>
    </center></h4>
    <h4>
    <p><h4><center>次に以下の乃木坂46の代表的な番組を列挙するので<br>もし乃木坂46に興味を持たれたら
    調べてみてください</center></h4></p>

    <p><h4><center><div style="padding: 10px; margin-bottom: 10px; text-align: justify; border: 5px double #333333; color: #EAD9FF; background-color: #932993;	width:50%;">
    <h1>現在の出演番組</h1>乃木坂工事中　<br>乃木坂スター誕生!<br>etc</div></center></h4></p>

    <p><h4><center><div style="padding: 10px; margin-bottom: 10px; text-align: justify; border: 5px double #333333; color: #EAD9FF; background-color: #932993;	width:50%;">
    <h1>過去の出演番組</h1>乃木坂って、どこ?<br>NOGIBINGO!シリーズ<br>ノギザカスキッツ<br>etc</div></center></h4></p>

    <p><h4><center><div style="padding: 10px; margin-bottom: 10px; text-align: justify; border: 5px double #333333; color: #EAD9FF; background-color: #932993;	width:50%;">
    <h1>ネット配信</h1>のぎおび　<br>猫舌SHOWROOM <br>etc</div></center></h4></p>

    <p><h4><center><div style="padding: 10px; margin-bottom: 10px; text-align: justify; border: 5px double #333333; color: #EAD9FF; background-color: #932993;	width:50%;">
    <h1>ラジオ番組</h1>乃木坂46のオールナイトニッポン<br>金つぶ<br>らじらー!サンデー<br>乃木坂46の「の」<br>沈黙の金曜日<br>etc
    </div></center></h4></p>

    <p><h1><center>最初の推しメン</center></h1></p>
    <p><h4><center>何人か、現在の乃木坂46の代表的なメンバーを紹介するので
    <br>まずはそちらのメンバーを調べてみてください。<br>簡単な紹介動画も載せておきます。</center></h4></p>

    <h3><center>秋元真夏: 乃木坂46のキャプテン
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/UGBvcDmK7Ug?autoplay=1&mute=1&loop=1&playlist=UGBvcDmK7Ug" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe></center></h3>

    <h3><center>齋藤飛鳥: 乃木坂46のエース
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/-5kfSfz3fxY?autoplay=1&mute=1&loop=1&playlist=-5kfSfz3fxY" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe></center></h3>

    <h3><center>梅澤美波: 乃木坂46の副キャプテン
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/rknOTjTQjEc?autoplay=1&mute=1&loop=1&playlist=rknOTjTQjEc" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe></h3>

    <h3><center>山下美月: 乃木坂46のあざとガール
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/v_OHPgO3w-Y?autoplay=1&mute=1&loop=1&playlist=v_OHPgO3w-Y" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe></center></h3>

    <h3><center>与田祐希: 乃木坂46のクレイジーガール
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/yctIMCUHgd8?autoplay=1&mute=1&loop=1&playlist=yctIMCUHgd8" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe></center></h3>

    <h3><center>遠藤さくら: 乃木坂46の次世代エース
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/z8uLkFoNcFs?autoplay=1&mute=1&loop=1&playlist=z8uLkFoNcFs" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe></center></h3>

    <h3><center>賀喜遥香: 乃木坂46のオールラウンダー
    <br><iframe width="560" height="315" src="https://www.youtube.com/embed/5om_c25gI-g?autoplay=1&mute=1&loop=1&playlist=5om_c25gI-g" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe></center></h3>
</div>
