<div class="top-wrapper">
  <h1><center><span style="font-size:50px;">サービス概要</span></center><h1>
  <center><div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333; background-color: #932993;	width:50%;">
    <img src="https://i.gyazo.com/7172227431acc78be3aa778f0f1c8e83.png" alt="Image from Gyazo" width="610"/></a>
  </div></center>
  <h4><center>まず、現役メンバーか卒業メンバーかどちらかを選択して下さい</center></h4>
　<center><div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333; background-color: #932993;	width:50%;">
    <img src="https://i.gyazo.com/68443f8dcc6a916d5792ec797cd15fa4.png" alt="Image from Gyazo" width="645"/></a>
  </div></center>
  <h4><center>次に上記のようにメンバーの選択ボタンがあるので<br>好きなメンバーのボタンを選んでください。</center></h4>
  <br>
  <center><div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333; background-color: #932993;	width:50%;">
    <img src="https://i.gyazo.com/7f33ef524aa12a842f5c2e39d037a71f.png" alt="Image from Gyazo" width="645"/></a>
  </div></center>
  <h4><center>一番上に、次の推しメンを提示しています。<br>左側に円グラフを表示しています。<br>内訳としては以下の５項目で構成しています。
  <p><center><div style="padding: 10px; margin-bottom: 10px; text-align: justify; border: 5px double #333333; color: #EAD9FF; background-color: #932993;	width:30%;">
    cute: 可愛さや親しみやすさ　<br>singing: 歌唱力 <br>dance: ダンスパーフォマンス　<br>variety: バラエティー能力 <br>acting: 演技力</div></center></p>
    <p>右側に「次の推しメンを紹介した理由」と<br>twitterシェア機能を提示しています。</p><p>またメンバーのボタンを押すと
    <br>下記のように各メンバーのYouTubeの埋め込み動画と<br>簡単なプロフィールを紹介しています。</p>
  <center><div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333; background-color: #932993;	width:50%;">
    <video alt="Video from Gyazo" width="600" autoplay muted loop playsinline controls>
    <source src="https://i.gyazo.com/73a330e01accbf8a7db5b8050d4a0c3e.mp4" type="video/mp4" /></video></a>
  </div></center></h4>
</div>
