<div class="top-wrapper">
  <h1>サービス概要<h1>
  <a href="https://gyazo.com/7172227431acc78be3aa778f0f1c8e83">
  <img src="https://i.gyazo.com/7172227431acc78be3aa778f0f1c8e83.png" alt="Image from Gyazo" width="610"/></a>
</div>
