<div class="top-wrapper">　
  <div class="text-center">
  　<h1>N46-Forever</h1>
    <p><h2>私たちは乃木坂46を忘れない。<br>このサービスであなたの次の推しメンを紹介します！</h2></p>
  </div>
  <div class="col">
　　　<h3>あなたの現在の推しメンは何期でしょうか？<br>以下の選択ボタンで選んでください。</h3>
    <%= link_to '1期', new_similar_member_path, class: "btn btn-danger btn-lg" %>
    <%= link_to '2期', new2_similar_member_path, class: "btn btn-success btn-lg" %>
    <%= link_to '3期', new3_similar_member_path, class: "btn btn-primary btn-lg" %>
    <%= link_to '4期', new4_similar_member_path, class: "btn btn-warning btn-lg" %>
  </div>
</div>
