<div class="top-wrapper">　
  <div class="text-center">
  　<h1>N46-Forever</h1>
    <p><h5>私たちは乃木坂46を忘れない。<br>このサービスであなたの次の推しメンを紹介します！</h5></p>
  </div>
  <div class="col">
　　　<h3>あなたの現在の推しメンは誰ですか？</h3>
    <p><h5>以下の選択ボタンで選んでください。</h5></p>
    <%= link_to '現役メンバー', new_similar_member_path, class: "btn btn-primary btn-lg" %>
    <%= link_to '卒業メンバー', '#', class: "btn btn-dark btn-lg" %>
  </div>
</div>
