<div class="top-wrapper">　
  <div class="text-center">
  　<h1><span style="font-size:60px;">N46-Forever</span></h1>
  </div>

      <div class ="sentence1">
        <h5><p><span style="font-size:30px;">私が乃木坂46に「ハマった理由」と「悩み」</span></p>
        <p>以前から私は乃木坂46のことを応援していました。
        <br>理由としては、彼女たちの歌や番組などを見たり、握手会やライブに行くことによって<br>生きる活力を見いだしたように感じたからです。
        <br>しかし自分の推しメンが卒業することによって徐々に応援するモチベーションが下がっていきました。</p></h5>
  　　</div>
      <div class ="sentence2">
        <h5><p><span style="font-size:30px;">このサービスであなたの次の推しメンを紹介します！</span></p>
        <p>あることがきっかけで、応援するモチベーションを維持することができました。<br>それが「次の推しメンを見つけることが出来た」
        ということでした。<br>この経験を踏まえて、「次の推しメンを紹介するサービスを作ればいいのではないか？」とう考えに
        至り<br>こちらのサービスを作ることに決めました。</p></h5>
      </div>
    <div class ="col">
      <h3>あなたの現在の推しメンは誰ですか？</h3>
      <p><h5>以下の選択ボタンで選んでください。</h5></p>
      <%= link_to '現役メンバー', new_similar_member_path, class: "btn btn-primary btn-lg" %>
      <%= link_to '卒業メンバー', 'new2_similar_member_path', class: "btn btn-dark btn-lg" %>
    </div>
</div>
