<div class="top-wrapper">　
  <div class="text-center">
  　<h1>N46-Forever</h1>
    <p><h3>私たちは乃木坂46を忘れない</h3></p>
  </div>
  <div class="col">
    <%= link_to 'スタート', '#', class: "btn btn-light btn-lg" %>
  </div>
</div>
