<div class="top-wrapper">
  <div class='containers'>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uA_8ZjEJups?autoplay=1&mute=1&loop=1&playlist=uA_8ZjEJups"
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  </div>
  <div class='profile'>
    <h1><span style="font-size:50px";>早川聖来</span></h1>
    <h4><p>加入期: 4期生</p></h4>
    <h4><p>誕生日: 2000年8月24日</p></h4>
    <h4><p>星座：おとめ座</p></h4>
    <h4><p>出身地: 大阪府</p></h4>
    <h4><p>血液型: A型</p></h4>
    <h4><p>身長: 164cm</p></h4>
  </div>
</div>
