<div class="top-wrapper">
  <div class='containers'>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8x0KSOpMTKw?autoplay=1&mute=1&loop=1&playlist=8x0KSOpMTKw"
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  </div>
  <div class='profile'>
    <h1><span style="font-size:50px";>久保史緒里</span></h1>
    <h4><p>加入期: 3期生</p></h4>
    <h4><p>誕生日: 2001年7月14日</p></h4>
    <h4><p>星座：かに座</p></h4>
    <h4><p>出身地: 宮城県</p></h4>
    <h4><p>血液型: O型</p></h4>
    <h4><p>身長: 161cm</p></h4>
  </div>
</div>
