<div class="top-wrapper">
  <div class='containers'>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cPPFiNDv2ZI?autoplay=1&mute=1&loop=1&playlist=cPPFiNDv2ZI"
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  </div>
  <div class='profile'>
    <h1><span style="font-size:50px";>黒見明香</span></h1>
    <h4><p>加入期: 4期生</p></h4>
    <h4><p>誕生日: 2004年1月19日</p></h4>
    <h4><p>星座：やぎ座</p></h4>
    <h4><p>出身地: 東京都</p></h4>
    <h4><p>血液型: O型</p></h4>
    <h4><p>身長: 162cm</p></h4>
  </div>
</div>
