<div class="top-wrapper">
  <div class='containers'>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nT_fvY3nbU8?start=51&end=805&autoplay=1&mute=1&loop=1&playlist=nT_fvY3nbU8"
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  </div>
  <div class='profile'>
    <h1><span style="font-size:50px";>鈴木絢音</span></h1>
    <h4><p>加入期: 2期生</p></h4>
    <h4><p>誕生日: 1999年3月5日</p></h4>
    <h4><p>星座：うお座</p></h4>
    <h4><p>出身地: 秋田県</p></h4>
    <h4><p>血液型: O型</p></h4>
    <h4><p>身長: 161cm</p></h4>
  </div>
</div>
