<header>
    <div class="text-center">
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item">
          <h5><%= link_to 'サービスの概要', '#', class: 'btn btn-outline-light' %></h5>
        </li>
      </ul>
    </div>
</header>
