<div class="top-wrapper">　
  <div class="text-center">
  　<h2>乃木坂46で、あなたの好きな現役メンバーを選択してください。</h2>
    <%= form_with model: @member, local: true do |f| %>
    　 <div class="form-group">
        <%= render 'similar_members/form' %>
      </div>
    <% end %>
  </div>
</div>
