<div class="top-wrapper">　
  <div class="text-center">
  　<h1>あなたの乃木坂46で好きな3期メンバーを選択してください。</h1>
  　<%= form_with model: @member, local: true do |f| %>
    　 <div class="form-group">
        <%= render 'similar_members/form3' %>
      </div>
    <% end %>
  </div>
</div>
