<div class="top-wrapper">　
  <div class="text-center">
  　<h2>あなたの乃木坂46で好きな4期メンバーを選択してください。</h2>
  　<%= form_with model: @member, local: true do |f| %>
    　 <div class="form-group">
        <%= render 'similar_members/form4' %>
      </div>
    <% end %>
  </div>
</div>
