@import 'bootstrap';
@import 'top';
@import 'similar_member';
@import 'members';
@import "font-awesome-sprockets";
@import "font-awesome";
.mt-auto {
  background-color: #932993;
  position: relative;
  background-position: center;
  color:white;
}
.navbar-nav {
  background-color: #932993;
  position: relative;
  background-position: center;
  color: white;
}

.font-color {
    text-decoration: none;
    color: white ;
}
