// Place all the styles related to the Similar_member controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
input[type="text"] {
        width: 250px;
        height: 60px;
        margin: 0 auto;
        text-align: center;
    }
