.top-wrapper {
  background-color:#EAD9FF;
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;
  color: #932993;
  overflow-y: scroll;


  .text-center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color:#932993;


    @media screen and (max-width: 767px) {
      font-size: 2.0rem;
    }

  }

  .col {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    font-size: 3rem;
    }

    .col1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    font-size: 3rem;
    }

    .col2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    font-size: 3rem;
    }

    .col3 {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 3rem;
    }

    .form-group {
      position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    font-size: 3rem;
    }

    .row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    font-size: 3rem;
    }

    .chart-container {
    position: absolute;
    height: 400px;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    font-size: 3rem;
    }

    .containers {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 3rem;
    }

    .profile {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 3rem;
    }

  .btn-primary {
    background: -moz-linear-gradient(65deg, #B384FF, #932993);
    background: -webkit-linear-gradient(65deg, #B384FF, #932993);
    background: linear-gradient(25deg, #B384FF, #932993);
    color:  white;
    border: #EAD9FF;
    border-radius: 2px;
}
  .btn-dark {
    background: -moz-linear-gradient(65deg, black, #932993);
    background: -webkit-linear-gradient(65deg, black, #932993);
    background: linear-gradient(25deg, black, #932993);
    color:  white;
    border: #EAD9FF;
    border-radius: 2px;
  }

  .btn-danger {
    background: -moz-linear-gradient(65deg, #FF9872, #932993);
    background: -webkit-linear-gradient(65deg, #FF9872, #932993);
    background: linear-gradient(25deg, #FF9872, #932993);
    color:  white;
    border: #EAD9FF;
    border-radius: 2px;
  }

  .btn-success {
    background: -moz-linear-gradient(65deg, #00FF3B, #932993);
    background: -webkit-linear-gradient(65deg, #00FF3B, #932993);
    background: linear-gradient(25deg, #00FF3B, #932993);
    color:  white;
    border: #EAD9FF;
    border-radius: 2px;
  }

  .btn-info {
    background: -moz-linear-gradient(65deg, #32EEFF, #932993);
    background: -webkit-linear-gradient(65deg, #32EEFF, #932993);
    background: linear-gradient(25deg, #32EEFF, #932993);
    color:  white;
    border: #EAD9FF;
    border-radius: 2px;
  }

  .btn-warning {
    background: -moz-linear-gradient(65deg, #FFFF77, #932993);
    background: -webkit-linear-gradient(65deg, #FFFF77, #932993);
    background: linear-gradient(25deg, #FFFF77, #932993);
    color:  white;
    border: #EAD9FF;
    border-radius: 2px;
  }

  .btn-light {
    background: -moz-linear-gradient(65deg, #FF88FF, #932993);
    background: -webkit-linear-gradient(65deg, #FF88FF, #932993);
    background: linear-gradient(25deg, #FF88FF, #932993);
    color:  white;
    border: #EAD9FF;
    border-radius: 2px;
  }

  .sentence1 {position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    font-size: 3rem;
    }

  .sentence2 {position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    font-size: 3rem;
    }

  a {
  color:#9057FF	;
}

  }
