<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>秋元真夏推しのあなたにオススメする次の推しメンは山下美月です！</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date35%>
  <h3>他にも掛橋沙耶香、佐藤璃果がオススメです。</h3>
  </div>
</div>
