<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:200px;">
    <h2>遠藤さくら推しのあなたにオススメする次の推しメンは<br><center><span style="font-size:60px;">岩本蓮加です！</span></center></h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date4%>
  <h4>二人に共通するのは、全ての項目が非常に高い!<br>
  その結果、次期エース候補の岩本蓮加をあなたに紹介します。
  <br>他に齋藤飛鳥もあなたにオススメします。</h4>
  </div>
</div>
