<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>早川聖来推しのあなたにオススメする次の推しメンは林瑠奈です！</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date29%>
  <h1>他にも樋口日奈、吉田綾乃クリスティーがオススメです。</h1>
  </div>
</div>
