<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>星野みなみ推しのあなたにオススメする次の推しメンは与田祐希です！</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date38%>
  <h1>他にも伊藤理々杏、筒井あやめがオススメです。</h1>
  </div>
</div>
