<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>生田絵梨花推しのあなたにオススメする次の推しメンは久保史緒里です！</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date12%>
  <h1>他にも賀喜遥香、柴田柚菜がオススメです。</h1>
  </div>
</div>
