<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>あなたの次の推しメンは生田絵梨花です</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date2%>
  <h1>他にも久保史緒里、カキはるかがおすすめです。</h1>
  </div>
</div>
