<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>生田絵梨花推しのあなたにオススメする次の推しメンは久保史緒里です！</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date12%>
  <h4>二人に共通するのは、singingの項目がパーフェクト!!<br>
  その結果、歌唱力に定評のある久保史緒里をあなたに紹介します。</h4>
  </div>
</div>
