<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>伊藤理々杏推しのあなたにオススメする次の推しメンは筒井あやめです！</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date24%>
  <h3>他にも星野みなみ、与田祐希がオススメです。</h3>
  </div>
</div>
