<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>掛橋沙耶香推しのあなたにオススメする次の推しメンは佐藤璃果です！</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date17%>
  <h4>二人に共通するのは、cuteとactingの二つの項目が非常に高い！
  <br>その結果、あざとくて小悪魔的な一面を併せ持つ佐藤璃果をあなたに紹介します。</h4>
  </div>
</div>
