<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>掛橋沙耶香推しのあなたにオススメする次の推しメンは佐藤璃果です！</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date17%>
  <h1>他にも秋元真夏、山下美月がオススメです！</h1>
  </div>
</div>
