<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>賀喜遥香推しのあなたにオススメする次の推しメンは柴田柚菜です！</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date18%>
  <h3>他にも生田絵梨花、久保史緒里がオススメです。</h3>
  </div>
</div>
