<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>賀喜遥香推しのあなたにオススメする次の推しメンは柴田柚菜です！</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date18%>
  <h4>二人に共通するのは、singingの項目がパーフェクト!!<br>
  その結果、歌唱力に定評のある柴田柚菜をあなたに紹介します。</h4>
  </div>
</div>
