<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:200px;">
    <h2>賀喜遥香推しのあなたにオススメする次の推しメンは<br><center><span style="font-size:60px;">柴田柚菜です！</span></center></h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date18%>
  <h4>二人に共通するのは、singingの項目がパーフェクト!!<br>
  その結果、歌唱力に定評のある柴田柚菜をあなたに紹介します。
  <br>他に久保史緒里もあなたにオススメします。</h4>
  </div>
</div>
