<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>金川紗耶推しのあなたにオススメする次の推しメンは松尾美佑です！</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date31%>
  <h1>他にも鈴木絢音、阪口珠美がオススメです。</h1>
  </div>
</div>
