<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>金川紗耶推しのあなたにオススメする次の推しメンは松尾美佑です！</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date31%>
  <h4>二人に共通するのは、danceの項目がパーフェクト!!<br>
  その結果、ダンスパフォーマンスに定評のある松尾美佑をあなたに紹介します。</h4>
  </div>
</div>
