<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:150px;">
    <h2>金川紗耶推しのあなたにオススメする次の推しメンは<br><center><span style="font-size:60px;">松尾美佑です！</span></center></h2>　
  </div>
  <div class ="row justify-content-center">
  <div class="col-sm-7 col-md-10 col-lg-7 ">
  <div class="chart-container">
    <canvas id="myPieChart"></canvas>
  </div>
  </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>

  <script>
  var ctx = document.getElementById("myPieChart");
  var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["cute", "singing", "dance", "variety", "acting"],
      datasets: [{
          backgroundColor: [
                "#FFDDFF",
                "#FFFFCC",
                "#CCFFFF",
                "#FFDBC9",
                "#9BF9CC"
          ],
          data: [30, 30,100,30,30]
      }]
    },
    options: {
      title: {
        display: true,
      },
      plugins: {
        labels: [
    {
      render: 'label',
      fontSize: 20,
      position: 'outside'
    },
    {
      render: 'percentage',
      fontSize: 15
    }
  ]
      }
    }
  });
  </script>
  <div class='col3'>
  <br>
  <h4>二人に共通するのは、danceの項目が非常に高い!<br>
  その結果、ダンスパフォーマンスに定評のある松尾美佑をあなたに紹介します。
  <br>他に鈴木絢音や阪口珠美もあなたにオススメします。</h4>
  </div>
  </div>
</div>
