<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>北野日奈子推しのあなたにオススメする次の推しメンは清宮レイです！</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date21%>
  <h1>他にも向井葉月、矢久保美緒がオススメです。</h1>
  </div>
</div>
