<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>北川悠理推しのあなたにオススメする次の推しメンは佐藤楓です！</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date16%>
  <h4>二人に共通なのは、全ての項目が平均的である。
  <br>その結果、まだ未知数であるが、どこか不思議な魅力を持っている佐藤楓をあなたに紹介します!</h4>
  </div>
</div>
