<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:200px;">
    <h2>北野日奈子推しのあなたにオススメする次の推しメンは<br><center><span style="font-size:60px;">清宮レイです！</span></center></h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date21%>
  <h4>二人に共通するのは、cuteとvarietyの二つの項目が非常に高い！
  <br>その結果、天真爛漫で親しみ感のある清宮レイをあなたに紹介します。
  <br>他に向井葉月や矢久保美緒もあなたにオススメします。</h4>
  </div>
</div>
