<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:150px;">
    <h3>久保史緒里推しのあなたにオススメする次の推しメンは<br><center><span style="font-size:50px;">賀喜遥香です！</span></center></h3>　
  </div>
  <div class ="row justify-content-center">
    <div class="col-sm-7 col-md-10 col-lg-7 ">
      <div class="chart-container">
        <canvas id="myPieChart"></canvas>
      </div>
    </div>
  </div>
  <script>
  var ctx = document.getElementById("myPieChart");
  var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["cute", "singing", "dance", "variety", "acting"],
      datasets: [{
          backgroundColor: [
                "#FFDDFF",
                "#FFFFCC",
                "#CCFFFF",
                "#FFDBC9",
                "#9BF9CC"
          ],
          data: [30,100,40,40,30]
      }]
    },
    options: {
      title: {
        display: true,
      },
      plugins: {
        labels: [
    {
      render: 'label',
      fontSize: 20,
      position: 'outside'
    },
    {
      render: 'percentage',
      fontSize: 15
    }
  ]
      }
    }
  });
  </script>
  <div class='col3'>
  <p>
  <h4>
  <br>二人に共通するのは<br>singingの項目が非常に高い!<br>
  その結果、歌唱力に定評のある賀喜遥香を<br>あなたに紹介します。
  <br>他に柴田柚菜もあなたにオススメします。</p>
  <p>
      <%= link_to '久保史緒里', kubo_detail_member_path, class: "btn btn-info " %>
      <%= link_to '賀喜遥香', kaki_detail_member_path, class: "btn btn-warning " %>
      <%= link_to '柴田柚菜', sibata_detail_member_path, class: "btn btn-warning " %></p>
  <p><a href="https://twitter.com/share?url=https://n46forever1.com" class="twitter-share-button"
  data-show-count="false" data-text="久保史緒里推しのあなたの次の推しメンは賀喜遥香です！" data-size="large" data-hashtags="N46Forever"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p></h4>
  </div>
  </div>
</div>
