<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>黒見明香推しのあなたにオススメする次の推しメンは北川悠理です！</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date10%>
  <h1>他にも佐藤楓がオススメです。</h1>
  </div>
</div>
