<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>松尾美佑推しのあなたにオススメする次の推しメンは鈴木絢音です!</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date20%>
  <h1>他にも阪口珠美、金川紗耶がオススメです。</h1>
  </div>
</div>
