<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>松尾美佑推しのあなたにオススメする次の推しメンは鈴木絢音です!</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date20%>
  <h4>二人に共通するのは、dance項目がパーフェクト!!<br>
  その結果、ダンスパフォーマンスに定評のある鈴木絢音をあなたに紹介します。</h4>
  </div>
</div>
