<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>中村麗乃推しのあなたにオススメする次の推しメンは弓木奈於です!</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date36%>
  <h3>他にも和田まあや、田村真佑がオススメです。</h3>
  </div>
</div>
