<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>中村麗乃推しのあなたにオススメする次の推しメンは<br><center><span style="font-size:60px;">弓木奈於です!</span></center></h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date36%>
  <h4>二人に共通するのは、varietyの項目がパーフェクト!!<br>
  その結果、今後バラエティー番組で大活躍するかもしれない弓木奈於をあなたに紹介します。</h4>
  </div>
</div>
