<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>齋藤飛鳥推しのあなたにオススメする次の推しメンは遠藤さくらです!</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date6%>
  <h1>他にも寺田蘭世、岩本蓮加がオススメです。</h1>
  </div>
</div>
