<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>阪口珠美推しのあなたにオススメする次の推しメンは金川紗耶です!</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date9%>
  <h3>他にも鈴木絢音、松尾美佑がオススメです。</h3>
  </div>
</div>
