<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>佐藤楓推しのあなたにオススメする次の推しメンは黒見明香です!</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date13%>
  <h1>他にも北川悠理がオススメです。</h1>
  </div>
</div>
