<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>佐藤璃果推しのあなたにオススメする次の推しメンは掛橋沙耶香です!</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date8%>
  <h4>二人に共通するのは、cuteとactingの二つの項目が非常に高い！
  <br>その結果、あざとくて小悪魔的な一面を併せ持つ掛橋沙耶香をあなたに紹介します。</h4>
  </div>
</div>
