<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>清宮レイ推しのあなたにオススメする次の推しメンは北野日奈子です!</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date11%>
  <h3>他にも向井葉月、矢久保美緒がオススメです。</h3>
  </div>
</div>
