<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>柴田柚菜推しのあなたにオススメする次の推しメンは賀喜遥香です!</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date7%>
  <h4>二人に共通するのは、singing項目がパーフェクト!!<br>
  その結果、歌唱力に定評のある賀喜遥香をあなたに紹介します。</h4>
  </div>
</div>
