<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>新内眞衣推しのあなたにオススメする次の推しメンは山崎怜奈です!</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date34%>
  <h3>他にも高山一実、梅澤美波がオススメです。</h3>
  </div>
</div>
