<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>鈴木絢音推しのあなたにオススメする次の推しメンは阪口珠美です!</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date15%>
  <h4>二人に共通するのは、dance項目がパーフェクト!!<br>
  その結果、ダンスパフォーマンスに定評のある阪口珠美をあなたに紹介します。</h4>
  </div>
</div>
