<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>鈴木絢音推しのあなたにオススメする次の推しメンは阪口珠美です!</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date15%>
  <h1>他にも金川紗耶、松尾美佑がオススメです。</h1>
  </div>
</div>
