<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>高山一実推しのあなたにオススメする次の推しメンは梅澤美波です!</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date5%>
  <h3>他にも新内眞衣、山崎怜奈がオススメです。</h3>
  </div>
</div>
