<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>寺田蘭世推しのあなたにオススメする次の推しメンは岩本蓮加です!</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date4%>
  <h1>他にも齋藤飛鳥、遠藤さくらがオススメです。</h1>
  </div>
</div>
