<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>筒井あやめ推しのあなたにオススメする次の推しメンは伊藤理々杏です!</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date3%>
  <h1>他にも星野みなみ、与田祐希がオススメです。</h1>
  </div>
</div>
