<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:150px;">
    <h2>梅澤美波推しのあなたにオススメする次の推しメンは<br><center><span style="font-size:60px;">山崎怜奈です!</span></center></h2>　
  </div>
  <div class ="row justify-content-center">
  <div class="col-sm-7 col-md-10 col-lg-7 ">
  <div class="chart-container">
    <canvas id="myPieChart"></canvas>
  </div>
  </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>

  <script>
  var ctx = document.getElementById("myPieChart");
  var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["cute", "singing", "dance", "variety", "acting"],
      datasets: [{
          backgroundColor: [
                "#FFDDFF",
                "#FFFFCC",
                "#CCFFFF",
                "#FFDBC9",
                "#9BF9CC"
          ],
          data: [30,90,90,90,30]
      }]
    },
    options: {
      title: {
        display: true,
      },
      plugins: {
        labels: [
    {
      render: 'label',
      fontSize: 20,
      position: 'outside'
    },
    {
      render: 'percentage',
      fontSize: 15
    }
  ]
      }
    }
  });
  </script>
  <div class='col3'>
  <br>
  <h4>
  <br>二人に共通するのは、singingとdanceとvarietyの三つの項目が非常に高い！
  <br>その結果、オールマイティーに大活躍している山崎怜奈をあなたに紹介します。
  <br>他に新内眞衣もあなたにオススメします。
  <br><a href="https://twitter.com/share?url=https://n46forever1.herokuapp.com/umezawa_member" class="twitter-share-button"
  data-show-count="false"data-text="梅澤美波推しのあなたの次の推しメンは山崎怜奈です！" data-size="large" data-hashtags="N46Forever"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></h4>
  </div>
  </div>
</div>
