<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>梅澤美波推しのあなたにオススメする次の推しメンは<br><center><span style="font-size:60px;">新内眞衣です!</span></center></h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date19%>
  <h4>二人に共通するのは、singingとdanceとvarietyの三つの項目が非常に高い！
  <br>その結果、オールマイティーに様々な分野で大活躍している新内眞衣をあなたに紹介します。</h4>
  </div>
</div>
