<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>梅澤美波推しのあなたにオススメする次の推しメンは新内眞衣です!</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date19%>
  <h1>他にも高山一実、山崎怜奈がオススメです。</h1>
  </div>
</div>
