<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>和田まあや推しのあなたにオススメする次の推しメンは中村麗乃です!</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date26%>
  <h3>他にも弓木奈於、田村真佑がオススメです。</h3>
  </div>
</div>
