<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>矢久保美緒推しのあなたにオススメする次の推しメンは向井葉月です!</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date32%>
  <h1>他にも北野日奈子、清宮レイがオススメです。</h1>
  </div>
</div>
