<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>山崎玲奈推しあなたにオススメする次の推しメンは梅澤美波です!</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date5%>
  <h3>他にも高山一実、新内眞衣がオススメです。</h3>
  </div>
</div>
