<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>山下美月推しのあなたにオススメする次の推しメンは掛橋沙耶香です!</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date8%>
  <h1>他にも秋元真夏、佐藤璃果がオススメです。</h1>
  </div>
</div>
