<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h2>山崎玲奈推しあなたにオススメする次の推しメンは梅澤美波です!</h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date5%>
  <h4>二人に共通するのは、singingとdanceとvarietyの三つの項目が非常に高い！
  <br>その結果、オールマイティーに様々な分野で大活躍している梅澤美波をあなたに紹介します。</h4>
  </div>
</div>
