<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:150px;">
    <h2>山下美月推しのあなたにオススメする次の推しメンは<br><center><span style="font-size:60px;">掛橋沙耶香です!</span></center></h2>　
  </div>
  <div class ="row justify-content-center">
    <div class="col-sm-7 col-md-10 col-lg-7 ">
      <div class="chart-container">
        <canvas id="myPieChart"></canvas>
      </div>
    </div>
  </div>
  <script>
  var ctx = document.getElementById("myPieChart");
  var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["cute", "singing", "dance", "variety", "acting"],
      datasets: [{
          backgroundColor: [
                "#FFDDFF",
                "#FFFFCC",
                "#CCFFFF",
                "#FFDBC9",
                "#9BF9CC"
          ],
          data: [90,40,30,30,90]
      }]
    },
    options: {
      title: {
        display: true,
      },
      plugins: {
        labels: [
    {
      render: 'label',
      fontSize: 20,
      position: 'outside'
    },
    {
      render: 'percentage',
      fontSize: 15
    }
  ]
      }
    }
  });
  </script>
  <div class='col3'>
  <p>
  <h4>
  <br>二人に共通するのは<br>cuteとactingの二つの項目が非常に高い！
  <br>その結果あざとくて小悪魔的な一面を併せ持つ<br>掛橋沙耶香をあなたに紹介します。
  <br>他に秋元真夏や佐藤璃果も<br>あなたにオススメします。</p>
  <p>
      <%= link_to '秋元真夏', akimoto_detail_member_path, class: "btn btn-danger " %>
      <%= link_to '山下美月', yamashita_detail_member_path, class: "btn btn-info " %>
      <%= link_to '掛橋沙耶香', kakehashi_detail_member_path, class: "btn btn-warning " %>
      <%= link_to '佐藤璃果', satori_detail_member_path, class: "btn btn-warning " %></p>
  <p><a href="https://twitter.com/share?url=https://n46forever1.herokuapp.com/yamashita_member" class="twitter-share-button"
  data-text="山下美月推しのあなたの次の推しメンは掛橋沙耶香です！" data-size="large" data-hashtags="N46Forever"data-show-count="false"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p></h4>
  </div>
  </div>
</div>
