<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>あなたの次の推しメンは与田祐希です</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date1%>
  <h1>他にも与田祐希、山下美月がおすすめです。</h1>
  </div>
</div>
