<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:200px;">
    <h2>弓木奈於推しのあなたにオススメする次の推しメンは<br><center><span style="font-size:60px;">和田まあやです!</span></center></h2>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date39%>
  <h4>二人に共通するのは、varietyの項目がパーフェクト!!<br>
  その結果、今後バラエティー番組で大活躍するかもしれない和田まあやをあなたに紹介します。
  <br>他に中村麗乃や田村真佑もあなたにオススメします。</h4>
  </div>
</div>
