<div class="top-wrapper">
  <div class="d-flex align-items-center justify-content-center" style="height:300px;">
    <h1>弓木奈於推しのあなたにオススメする次の推しメンは和田まあやです!</h1>　
  </div>
  <div class="col1">
  　<%= pie_chart @member.chart_date39%>
  <h1>他にも中村麗乃、田村真佑がオススメです。</h1>
  </div>
</div>
